<section class="section feedback" id="feedback">
    <h2 class="feedback-section-title">Customer Feedbacks</h2>
    <p class="feedback-section-text">See what our readers are saying about us!</p>
  
    <div class="feedback-content swiper">

      <ul class="feedback-list swiper-wrapper">
        <li class="feedback-list-item swiper-slide">
          <div class="user-card-wrap">
            <p class="user-feedback">
              Great selection, fast delivery, and beautifully packaged books. My go-to store for weekend reads!
            </p>
            <div class="user-card">
                <picture>
                    <source srcset="./img/avatar-image-1-min.jpg, ./img/avatar-image-1-2x-min.jpg" media="(min-width:1280px)" />
                    <source srcset="./img/avatar-image-1-min.jpg, ./img/avatar-image-1-2x-min.jpg" media="(min-width:768px)" />
                    <source srcset="./img/avatar-image-1-min.jpg, ./img/avatar-image-1-2x-min.jpg" media="(max-width:767px)" />
                    <img class="avatar-image" src="./img/avatar-image-1-min" alt="Jane Doe" width="48" />
                </picture>
              <div>
                <p class="user-name">Jane Doe</p>
                <p class="user-activity">Book Lover, Reader</p>
              </div>
            </div>
          </div>
        </li>
  
        <li class="feedback-list-item swiper-slide">
          <div class="user-card-wrap">
            <p class="user-feedback">
              Customer service was super helpful, and my order arrived earlier than expected. Highly recommend!
            </p>
            <div class="user-card">
                <picture>
                    <source srcset="./img/avatar-image-2-min.jpg, ./img/avatar-image-2-2x-min.jpg" media="(min-width:1280px)" />
                    <source srcset="./img/avatar-image-2-min.jpg, ./img/avatar-image-2-2x-min.jpg" media="(min-width:768px)" />
                    <source srcset="./img/avatar-image-2-min.jpg, ./img/avatar-image-2-2x-min.jpg" media="(max-width:767px)" />
                    <img class="avatar-image" src="./img/avatar-image-2-min" alt="John Smith" width="48" />
                </picture>
              <div>
                <p class="user-name">John Smith</p>
                <p class="user-activity">Editor, BookMag</p>
              </div>
            </div>
          </div>
        </li>
  
        <li class="feedback-list-item swiper-slide">
          <div class="user-card-wrap">
            <p class="user-feedback">
              Love the curated picks and clear descriptions. Makes it easy to find my next favorite book.
            </p>
            <div class="user-card">
                <picture>
                    <source srcset="./img/avatar-image-3-min.jpg, ./img/avatar-image-3-2x-min.jpg" media="(min-width:1280px)" />
                    <source srcset="./img/avatar-image-3-min.jpg, ./img/avatar-image-3-2x-min.jpg" media="(min-width:768px)" />
                    <source srcset="./img/avatar-image-3-min.jpg, ./img/avatar-image-3-2x-min.jpg" media="(max-width:767px)" />
                    <img class="avatar-image" src="./img/avatar-image-3-min" alt="Emily Johnson" width="48" />
                </picture>
              <div>
                <p class="user-name">Emily Johnson</p>
                <p class="user-activity">Author, Novelist</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
  
      <div class="feedback-controls">
        <div class="swiper-pagination"></div>
  
        <div class="navigation-buttons">
          
        <div class="feedback-button-prev" aria-label="Previous slide">
          <svg width="16" height="16">
            <use href="sprite.svg#chevron-left-white"></use>
          </svg>
        </div>
          
        <div class="feedback-button-next" aria-label="Next slide">
          <svg width="16" height="16">
            <use href="sprite.svg#chevron-right-white"></use>
          </svg>
        </div>
      </div>
    </div>
    </div>
  </section>
  