<footer class="footer">
    <div class="container">
        <div class="footer-wrap">
            <div class="navigation-wrap">
                <img class="footer-logo" src="./Logo.svg" alt="Logo">
                <ul class="footer-list">
                    <li class="footer-item"><a class="footer-link" href="#home">Home</a></li>
                    <li class="footer-item"><a class="footer-link" href="#books">Books</a></li>
                    <li class="footer-item"><a class="footer-link" href="#feedback">Feedback</a></li>
                    <li class="footer-item"><a class="footer-link" href="#location">Location</a></li>
                </ul>
            </div>
            <div class="form-wrap">
                <p class="form-title">Join</p>
                <form class="footer-form">
                    <label>
                        <input class="footer-form-input" type="email" name="email" placeholder="Enter your email"
                            pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" required>
                    </label>
                    <button class="footer-btn" type="submit">Sign up</button>
                </form>
                <p class="footer-note">* Required field</p>
            </div>
        </div>
        <div class="line"></div>
        <p class="footer-end">© 2025 Booksy. All rights reserved.</p>
    </div>
</footer>