<section>
  <div class="container">
    <header>
      <nav class="navbar">
        <a href="#home" class="logo" aria-label="Booksy">
          <svg width="83" height="21">
            <use xlink:href="public/sprite.svg#book-logo-black"></use>
          </svg>
        </a>
        <button class="menu-toggle" aria-label="Open menu">
          <svg width="16" height="12">
            <use xlink:href="public/sprite.svg#menu"></use>
          </svg>
        </button>
        <ul class="nav-links">
          <li><a href="#home">Home</a></li>
          <li><a href="#books">Books</a></li>
          <li><a href="#feedback">Feedbacks</a></li>
          <li><a href="#events">Events</a></li>
          <li><a href="#location">Location</a></li>
        </ul>
      </nav>

      <!-- Mobile Menu -->
      <div class="mobile-menu" id="mobileMenu">
        <div class="mobile-menu-header">
          <a href="#home" class="logo" aria-label="Booksy">
            <svg width="83" height="21">
              <use xlink:href="public/sprite.svg#book-logo-black"></use>
            </svg>
          </a>
          <button class="close-menu" aria-label="Close menu">
            <svg width="12" height="12">
              <use xlink:href="public/sprite.svg#close"></use>
            </svg>
          </button>
        </div>
        <ul class="mobile-nav-links">
          <li><a href="#home">Home</a></li>
          <li><a href="#books">Books</a></li>
          <li><a href="#feedback">Feedbacks</a></li>
          <li><a href="#events">Events</a></li>
          <li><a href="#location">Location</a></li>
        </ul>
      </div>
      <div class="backdrop" id="backdrop"></div>
    </header>
  </div>
</section>
