<div class="container">
  <section class="hero-container">
    <div class="hero-slider" id="home">
      <div
        class="slide active"
        style="background-image: url('/img/hero/pages-banner 1.jpg')"
      >
        <div class="overlay banner-1">
          <p class="discount">Get 10% off your first order</p>

          <a href="#books" class="cta-button">Shop Now!</a>
        </div>
      </div>

      <div
        class="slide"
        style="background-image: url('/img/hero/pages-banner 2.jpg')"
      >
        <div class="overlay banner-2">
          <p class="discount">Save 15% on some books</p>

          <a href="#books" class="cta-button">Shop Now!</a>
        </div>
      </div>

      <div
        class="slide"
        style="background-image: url('/img/hero/pages-banner 3.jpg')"
      >
        <div class="overlay banner-3">
          <p class="discount">Get Summer Sale! Up to -40% discounts</p>

          <a href="#books" class="cta-button">Shop Now!</a>
        </div>
      </div>

      <div
        class="slide"
        style="background-image: url('/img/hero/pages-banner 4.jpg')"
      >
        <div class="overlay banner-4">
          <p class="discount">Last chance to buy our spring bestsellers</p>

          <a href="#books" class="cta-button">Shop Now!</a>
        </div>
      </div>
    </div>

    <div class="header-row">
      <h1>Discover Your Next Great Read Today!</h1>
      <!-- Кнопки навігації -->
      <div class="slider-controls">
        <button class="nav prev" aria-label="Previous slide">
          <svg class="icon default" width="14" height="14">
            <use xlink:href="public/sprite.svg#chevron-left"></use>
          </svg>
          <svg class="icon active" width="14" height="14">
            <use xlink:href="public/sprite.svg#chevron-left-white"></use>
          </svg>
        </button>
        <button class="nav next" aria-label="Next slide">
          <svg class="icon default" width="14" height="14">
            <use xlink:href="public/sprite.svg#chevron-right"></use>
          </svg>
          <svg class="icon active" width="14" height="14">
            <use xlink:href="public/sprite.svg#chevron-right-white"></use>
          </svg>
        </button>
      </div>
    </div>
  </section>
</div>
