<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location</title>
    <link rel="stylesheet" href="/src/css/location.css">
</head>
<body>
    <section class="section-location">
        <div class="location-content">
            <div class="text-column">
                <p class="section-label">Location</p>
                <h1 class="section-title">How to find us</h1>
                <p class="section-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in 
                    eros elementum tristique.
                </p>
            </div>

            <div class="contact-column">
                <ul class="contact-list">
                    <li class="contact-blocks">
                        <div class="icon-preview">
                            <svg width="20" height="17">
                                <use xlink:href="sprite.svg#mail"></use>
                            </svg>
                            <span class="contact-label">Email</span>
                        </div>
                            <a class="contact-link" href="mailto:hello@booksy.com">hello@booksy.com</a>
                    </li>

                    <li class="contact-blocks">
                        <div class="icon-preview">
                            <svg width="19" height="20">
                                <use xlink:href="sprite.svg#phone"></use>
                            </svg>
                            <span class="contact-label">Phone</span>
                        </div>
                            <a class="contact-link" href="tel:+612413043012">+61 (241) 304-3012</a>                      
                    </li>

                    <li class="contact-blocks">
                        <div class="icon-preview">
                            <svg width="16" height="21">
                                <use xlink:href="sprite.svg#geo"></use>
                            </svg>
                            <span class="contact-label">Office</span>
                        </div>
                            <span class="contact-geo">123 Books St, Sydney NSW 2000 AU</span>
                    </li>
                </ul>
            </div>

            <div class="map-container">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d13250.51529253205!2d151.2044317056342!3d-33.87345550581236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1s123%20Books%20St%2C%20Sydney%20NSW%202000%20AU.!5e0!3m2!1sru!2sua!4v1751717039854!5m2!1sru!2sua"
                    width="1312" height="738" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>
    </section>
    
</body>
</html>