<div class="book-modal-overlay open">
    <div class="book-modal">
        <button type="button" class="book-modal-close">
            <svg width="16" height="16">
            <use href="../public/sprite.svg#cross"></use>
            </svg>
        </button>
        <img src="" alt="">
        <div class="book-info-box">
            <h1 class="book-modal-name">Book Name</h1>
            <p class="book-modal-author">Book Author</p>
            <p class="book-modal-price">$15</p>
        </div>
        <div class="counter-box">
            <button type="button" id="btn-reduce" class="counter-btn btn-secondary">-</button>
            <div class="counter">
                1
            </div>
            <button type="button" id="btn-add" class="counter-btn btn-secondary">+</button>
        </div>
        <button type="button" class="add-btn">Add To Cart</button>
        <button type="submit" class="book-modal-buy-btn btn-secondary">Buy Now</button>
        <div class="accordion-container">
          <div class="ac">
            <h2 class="ac-header">
              <button type="button" class="ac-trigger">Details 
                <div class="icon-box">
                  <svg class="trigger-icon" width="12" height="12">
                      <use href="./public/sprite.svg#smooth-arrow-down">
                  </svg>
                </div>
            </button>
            </h2>
            <div class="ac-panel">
              <p class="ac-text">Info</p>
            </div>
          </div>
        
          <div class="ac">
            <h2 class="ac-header">
              <button type="button" class="ac-trigger">Shipping
                <div class="icon-box">
                  <svg class="trigger-icon" width="12" height="12">
                      <use href="./public/sprite.svg#smooth-arrow-down">
                  </svg>
                </div>
              </button>
            </h2>
            <div class="ac-panel">
              <p class="ac-text">Info</p>
            </div>
          </div>
        
          <div class="ac">
            <h2 class="ac-header">
              <button type="button" class="ac-trigger">Returns 
                <div class="icon-box">
                  <svg class="trigger-icon" width="12" height="12">
                      <use href="./public/sprite.svg#smooth-arrow-down">
                  </svg>
                </div>
            </button>
            </h2>
            <div class="ac-panel">
              <p class="ac-text">Info</p>
            </div>
          </div>
        </div>
    </div>
</div> 

<!-- contact-modal -->
 <div class="contact-modal-overlay">
    <div class="contact-modal">
        <button type="button" class="contact-modal-close">
            <svg width="16" height="16">
                <use href="../public/sprite.svg#cross"></use>
            </svg>
        </button>
        <h1 class="contact-modal-header">Register</h1>
        <p class="contact-modal-event"></p>
        <form class="contact-modal-form">
            <div class="contact-form-element">
                <label class="contact-form-label" for="user-name">Name*</label>
                <input type="text" name="user-name" class="contact-form-input" id="user-name" 
                pattern="\w{3,16}" placeholder="Ann" required/>
            </div>
            <div class="contact-form-element">
                <label class="contact-form-label" for="user-email">Email*</label>
                <input type="email" name="user-email" class="contact-form-input" id="user-email" 
                pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" placeholder="hello@booksy.com" required/>
            </div>
            <div class="contact-form-element form-textarea">
                <label class="contact-form-label" for="user-comment">Message</label>
                <textarea name="user-comment" id="user-comment" class="contact-form-input" 
                placeholder="Type your message..."></textarea>
            </div>
            <button type="submit" class="contact-form-button">Register</button>
        </form>
    </div>
 </div>