/* #region BV Book Modal */
.book-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.25);
    width: 100%;
     height: 100%;
     z-index: 999;
     display: flex;
     justify-content: center;
     transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
     opacity: 0;
     pointer-events: none;
     padding: 32px 16px;
     overflow-y: auto;
}

.open {
    opacity: 1;
    pointer-events: auto;
}

.book-modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    padding: 64px 16px;
    background: var(--color-bg);
    width: 100%;
    max-width: 343px;
}

.book-modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    background: none;
    outline: none;
    border: none;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    margin: 0;
}

.book-modal-close:hover,
.book-modal-close:focus {
    background: transparent;
}

.book-modal-img {
    border-radius: 8px;
    margin-bottom: 24px;
    height: 100%;
}

.book-info-box {
    display: flex;
    gap: 8px;
    flex-direction: column;
    margin-bottom: 24px;
}

.counter-box {
    display: flex;
    gap: 8px;
    margin-bottom: 8px;
    align-items: center;
}

.counter-btn {
    color:black;
    padding: 8px 12px;
    margin: 0;
}

.counter {
    border: 1px solid rgba(11, 5, 0, 0.15);
    border-radius: 4px;
    padding: 8px 12px;
    background: rgba(11, 5, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    font-weight: 400;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
text-align: center;
}

.prod-count {
    margin-bottom: 0;
}

.modal-btns {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 32px;
}



.add-btn {
    width: 100%;;
}

.book-modal-buy-btn {
    width: 100%;
}

.iziToast {
    font-family: var(--font-main) !important;
}

.iziToast-close {
    margin: 0 !important; 
}

.iziToast::after {
    box-shadow: none !important;
}

.ac {
    background-color: transparent !important;
    margin: 0 !important;
}

.ac .ac-trigger {
    font: var(--font-main) !important;
    border-top: 1px solid rgba(11, 5, 0, 0.15) !important;
    background-color: transparent !important;
    color: var(--color-muted) !important;
    width: 100% !important;
    display: flex !important;
    padding: 16px 0px !important;
    justify-content: space-between !important;
    align-content: center !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    font-weight: 600 !important;
font-size: 18px !important;

/* line-height: 27px; */ 
line-height: 150% !important;
}

.ac:last-child {
    border-bottom: 1px solid rgba(11, 5, 0, 0.15) !important
}

/* .ac .ac-trigger::after {
  content: "";
    background-image: url('../public/sprite.svg#smooth-arrow-down');
    background-size: contain;
    background-repeat: no-repeat;
  fill: #0B0500;
  text-align: center;
  width: 15px;
  transform: translate(0, -50%);
  position: absolute;
  right: 10px;
  top: 50%;
} */

.ac .ac-trigger::after {
    content: none !important;
}

.ac-trigger:hover,
.ac-trigger:active,
.ac-trigger:focus {
    background: transparent !important;
}

/* .ac.is-active > .ac-header .ac-trigger::after {
  content: url('../public/sprite.svg#smooth-arrow-up');
  fill: #0B0500;
} */

.ac .ac-trigger .trigger-icon {
    transition: transform 0.3s ease !important;
}

.ac.is-active .ac-trigger .trigger-icon {
    transform: rotate(180deg) !important;
}

.ac .ac-trigger .icon-box {
    width: 24px;
    height: 24px;
}

@media only screen and (min-width: 768px) {
  .book-modal {
    max-width: 704px;
    flex-direction: row;
    gap: 24px;
  }
  .counter-box {
    margin-bottom: 24px;
  }
}

@media only screen and (min-width: 1440px) {
  .book-modal {
    max-width: 1300px;
  }
  .modal-btns {
    flex-direction: row;
    width: 642px;
  }
  .book-modal-img {
    margin-bottom: 0;
  }
  .counter-box {
    margin-bottom: 16px;
  }
}


/* #endregion BV Book Modal */

textarea {
    resize: none;
}

.contact-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    pointer-events: none;
    padding: 32px 16px;
}

.open {
    opacity: 1;
    pointer-events: auto;
}

.contact-modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    padding: 64px 16px;
    width: 100%;
    max-width: 343px;    
    background-color: #fceee6;
}

.contact-modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    background: none;
    outline: none;
    border: none;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    margin: 0;
}

.contact-modal-close:hover,
.contact-modal-close:focus {
    background: transparent;
}

.contact-modal-header {
    font-weight: 600;
    color: #0b0500;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -0.01em;
    text-align: center;
    margin-bottom: 16px;
}

.contact-modal-event {
    font-weight: 400;
    color: #0b0500;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: -0.01em;
    text-align: center;
    margin-bottom: 48px;
}

.contact-modal-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contact-form-label {
    display: block;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.contact-form-input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.contact-form-input {
    height: 40px;
    width: 100%;
    padding: 8px 12px;
    border-radius: 8px;
    color: #0b0500;
    border: 1px solid rgba(11, 5, 0, 0.15);
    background-color: rgba(11, 5, 0, 0.05);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea.contact-form-input {
    height: 180px;
}

.contact-form-button {
    align-self: center;
}

.invalid {
    border-color: #ad0000;
    color: #ad0000;
}

@media screen and (min-width: 768px) {
    .contact-modal {
        width: 708px;
        max-width: 708px;
        padding: 64px 32px;
    }

    .contact-form-button {
        width: 342px;
    }
}

@media screen and (min-width: 1440px) {
    .contact-modal {
        width: 866px;
        max-width: 866px;
        padding: 64px 64px;
    }
}